Repository vanyauhalin/psfy: changes, and which lefthook commands are due for each by the changed paths.
All: lint-scripts, lint-styles

lefthook.yml:

commit-msg:
  commands:
    lint:
      run: commitlint --edit

pre-commit:
  commands:
    lint-scripts:
      glob: "*.{js,ts}"
      run: eslint {staged_files}
    lint-styles:
      glob: "*.css"
      run: stylelint {staged_files}

build: make all watch events async
  .scriptsrc.js
Due: lint-scripts

feat: playing-bar styles
  src/styles/bar.css
  src/styles/main.css
  src/styles/playing-bar/actions/connect.css
  src/styles/playing-bar/actions/lyrics.css
  src/styles/playing-bar/actions/queue.css
  src/styles/playing-bar/actions/root.css
  src/styles/playing-bar/actions/volume-bar.css
  src/styles/playing-bar/actions/volume.css
  src/styles/playing-bar/connect.css
  src/styles/playing-bar/controls/general.css
  src/styles/playing-bar/controls/play.css
  src/styles/playing-bar/controls/root.css
  src/styles/playing-bar/info/cover.css
  src/styles/playing-bar/info/heart.css
  src/styles/playing-bar/info/playback-bar.css
  src/styles/playing-bar/info/root.css
  src/styles/playing-bar/info/track-info.css
  src/styles/playing-bar/root.css
  src/styles/root.css
Due: lint-styles

feat: playing-bar scrypts
  src/scripts/main.ts
  src/scripts/playing-bar.ts
Due: lint-scripts

chore: remove swift project
  docs/SpicetifyPseudonative/SpicetifyPseudonative.xcodeproj/project.pbxproj
  docs/SpicetifyPseudonative/SpicetifyPseudonative.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  docs/SpicetifyPseudonative/SpicetifyPseudonative.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  docs/SpicetifyPseudonative/SpicetifyPseudonative.xcodeproj/project.xcworkspace/xcuserdata/vanyauhalin.xcuserdatad/UserInterfaceState.xcuserstate
  docs/SpicetifyPseudonative/SpicetifyPseudonative.xcodeproj/xcuserdata/vanyauhalin.xcuserdatad/xcschemes/xcschememanagement.plist
  docs/SpicetifyPseudonative/SpicetifyPseudonative/Assets.xcassets/AccentColor.colorset/Contents.json
  docs/SpicetifyPseudonative/SpicetifyPseudonative/Assets.xcassets/AppIcon.appiconset/Contents.json
  docs/SpicetifyPseudonative/SpicetifyPseudonative/Assets.xcassets/Contents.json
  docs/SpicetifyPseudonative/SpicetifyPseudonative/Colors.swift
  docs/SpicetifyPseudonative/SpicetifyPseudonative/ContentView.swift
  docs/SpicetifyPseudonative/SpicetifyPseudonative/Preview Content/Preview Assets.xcassets/Contents.json
  docs/SpicetifyPseudonative/SpicetifyPseudonative/SpicetifyPseudonative.entitlements
  docs/SpicetifyPseudonative/SpicetifyPseudonative/SpicetifyPseudonativeApp.swift
Due: none

chore: up preview
  docs/preview.png
Due: none

refactor: css vars
  src/scripts/expanded.ts
  src/styles/main.css
  src/styles/navbar/general.css
  src/styles/navbar/playlists.css
  src/styles/navbar/root.css
  src/styles/navbar/scrollbar.css
  src/styles/navbar/spotify.css
  src/styles/playing-bar/actions/connect.css
  src/styles/playing-bar/actions/lyrics.css
  src/styles/playing-bar/actions/queue.css
  src/styles/playing-bar/actions/volume-bar.css
  src/styles/playing-bar/actions/volume.css
  src/styles/playing-bar/connect.css
  src/styles/playing-bar/controls/general.css
  src/styles/playing-bar/controls/play.css
  src/styles/playing-bar/info/heart.css
  src/styles/playing-bar/info/playback-bar.css
  src/styles/playing-bar/info/track-info.css
  src/styles/playing-bar/root.css
  src/styles/root.css
Due: lint-scripts, lint-styles

chore: up version
  package.json
Due: none

chore: up version
  README.md
Due: none
