Repository vanyauhalin/psfy: changes, and which lefthook commands are due for each by the changed paths.
All: lint-scripts, lint-styles

lefthook.yml:

commit-msg:
  commands:
    lint:
      run: commitlint --edit

pre-commit:
  commands:
    lint-scripts:
      glob: "*.js"
      run: eslint {staged_files}
    lint-styles:
      glob: "*.css"
      run: stylelint {staged_files}

refactor: divide nav styles
  src/general.css
  src/main.css
  src/nav/general.css
  src/nav/playlists.css
  src/nav/scrollbar.css
  src/nav/spotify.css
  src/user.css
Due: lint-styles

feat: add bar styles
  src/bar.css
  src/main.css
Due: lint-styles

fix: nav expanded
  src/main.css
  src/nav/expanded.css
Due: lint-styles

chore: rename package
  package.json
Due: none

refactor: bar styles
  src/bar.css
Due: lint-styles

refactor: mv styles to own dir
  .postcssrc.js
  src/styles/bar.css
  src/styles/general.css
  src/styles/main.css
  src/styles/nav/expanded.css
  src/styles/nav/general.css
  src/styles/nav/playlists.css
  src/styles/nav/scrollbar.css
  src/styles/nav/spotify.css
Due: lint-scripts, lint-styles

chore: add eslint-config-typescript
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: none

chore: add ts for editorconfig
  .editorconfig
Due: none

chore: add typescript
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

chore: remove keyword
  package.json
Due: none

refactor: remove old files
  src/bar.css
  src/general.css
  src/main.css
  src/nav/expanded.css
  src/nav/general.css
  src/nav/playlists.css
  src/nav/scrollbar.css
  src/nav/spotify.css
Due: lint-styles

refactor: add css vars and rename files
  src/styles/general.css
  src/styles/main.css
  src/styles/nav/general.css
  src/styles/nav/spotify.css
  src/styles/navbar/expanded.css
  src/styles/navbar/general.css
  src/styles/navbar/playlists.css
  src/styles/navbar/scrollbar.css
  src/styles/navbar/spotify.css
  src/styles/root.css
Due: lint-styles

chore: change tabs to spaces
  .commitlintrc.json
Due: none

chore: add w3c-css-typed-object-model-level-1
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

chore: add esbuild
  .esbuildrc.js
  package.json
  pnpm-lock.yaml
Due: lint-scripts

fix: reduce drag-top height
  src/styles/root.css
Due: lint-styles

chore: add compile script
  package.json
Due: none

chore: up ts target
  tsconfig.json
Due: none

feat: add debounce util
  src/scripts/utils/debounce.ts
  src/scripts/utils/index.ts
Due: none

chore: add ts for pre-commit lint command
  lefthook.yml
Due: none

feat: add extract util
  src/scripts/utils/extract.ts
  src/scripts/utils/index.ts
Due: none

feat: add wait util
  src/scripts/utils/index.ts
  src/scripts/utils/wait.ts
Due: none

fix: expanded bug on resizing navbar
  src/scripts/expanded.ts
  src/scripts/main.ts
Due: none

refactor: simplify extract util
  src/scripts/utils/extract.ts
Due: none

refactor: simplify wait util
  src/scripts/utils/wait.ts
Due: none

chore: minify scripts output
  .esbuildrc.js
Due: lint-scripts

refactor: rename inner expanded function
  src/scripts/expanded.ts
Due: none

chore: simplify description
  package.json
Due: none

fix: move overflow from root to html
  src/styles/root.css
Due: lint-styles

fix: undo styles for playing bar
  src/styles/root.css
Due: lint-styles

chore: add readme
  README.md
  docs/preview.png
Due: none

chore: up version
  package.json
Due: none

chore: up lockfile
  pnpm-lock.yaml
Due: none

chore: up eslint-config-typescript
  package.json
  pnpm-lock.yaml
Due: none

chore: merge all scripts into single file
  .esbuildrc.js
  .postcssrc.js
  .scriptsrc.js
  package.json
Due: lint-scripts

chore: add level for logger
  .scriptsrc.js
Due: lint-scripts

chore: add comments for scripts wrapper
  .scriptsrc.js
Due: lint-scripts

chore: add serve script
  .scriptsrc.js
  package.json
  pnpm-lock.yaml
Due: lint-scripts

chore: resolve file for write function
  .scriptsrc.js
Due: lint-scripts

chore: up stylelint-config-base
  package.json
  pnpm-lock.yaml
Due: none
